.most-popular{
  background: linear-gradient(180deg, #1E429F 0%, #0B1839 100%);
  border: 0.89px solid var(--blue-700, #1A56DB);
  box-shadow: 0px 4px 6px 0px #1C64F21A, 0px 10px 15px -3px #1C64F233;
}